---
import githubSVG from "../../assets/github.svg";
import LobbyManager from "./LobbyManager.astro";
import Login from "./Login.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<!-- have as a flashy moving thingy -->
		<h1>GUESS THE F****** NUMBER</h1>
		<div>
			<Login />
			<LobbyManager />
		</div>

		<a
			href="https://github.com/squawkykaka/guess-the-number"
			class="githubButton"
			><img src={githubSVG.src} alt="github" width="30" height="30" /></a
		>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
	}

	h1 {
		text-align: center;
		margin-bottom: 20%;
	}

	.githubButton {
		position: absolute;
		bottom: 10px;
		left: 10px;
	}
</style>

<script src="./script"></script>