

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Bear Attack</title>

        <script type="module" src="https://q5js.org/q5.js"></script>
        <script type="module" src="https://p5play.org/v3/planck.min.js"></script>
        <script type="module" src="https://p5play.org/v3/p5play.js"></script>
    </head>
    <!-- in order to run image optimisatoin i store the image sources in hidden divs -->
    
    <!-- <body></body> -->

    <script src="./script.ts"></script>
    <script src="./spawnFunctions.ts"></script>

</html>
